<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>

  <div class="text-gray-600">
    <% prepare_meta_tags @post %> <%# 設定したメタタグをリダイレクトされる前に呼び出す %>
    <% twitter_share_url = "https://twitter.com/share?url= #{CGI.escape(post_url(@post))}" %> <%#post_urlにしないと完全なURLにならない %>
    <%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
## Xシェアボタンはfontawesome.comから使用しています
    <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
    <% end %>
</div>
</div>
